<div class="well-sm  text-center">
  <h2>Login</h2>
</div>
<form #loginForm="ngForm">
  <div [hidden]="loginForm.submitted">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6">
        <app-input-box [label]="'User name:'" [id]="'uname'" [type]="'text'"></app-input-box>
        <app-input-box [label]="'Passowrd:'" [id]="'pword'" [type]="'password'"></app-input-box>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
      </div>
      <div class="col-lg-6 topPadding">
        <button type="button" class="btn btn-primary" (click)="loginData()">Login</button>
        <button type="button" class="btn btn-default">Register</button>
      </div>
    </div>
  </div>
</form>